<phpunit
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestSize="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    bootstrap="vendor/autoload.php"
    mapTestClassNameToCoveredClassName="false"
    colors="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="GetterSetter">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-text" target="php://stdout" lowUpperBound="35" highLowerBound="90" />
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>vendor</directory>
                <directory>test</directory>
            </exclude>
        </whitelist>
    </filter> -->
</phpunit>